*{
    margin: 0;
    padding: 0;
    background-color:aquamarine;
}

main{
    height: 50vh;
    background-color: aquamarine
}

main{
    height: 50vh;
    background-color: aquamarine;
}

.Lana